Repository ku-kim/todo-list, pull requests merged in 2022-04, with the labels that each got.

#3 [공통] Issues, PR templates 와 프로젝트 소개 README.md 추가
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: docs, feat, common

#5 [Android] 프로젝트 생성
  .idea/.gitignore
  .idea/modules.xml
  .idea/todo-list.iml
  .idea/vcs.xml
  Android/.gitignore
  Android/app/.gitignore
  Android/app/build.gradle
  Android/app/proguard-rules.pro
  Android/app/src/androidTest/java/com/example/todo_list/ExampleInstrumentedTest.kt
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  Android/app/src/main/res/drawable/ic_launcher_background.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/values-night/themes.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/themes.xml
  Android/app/src/test/java/com/example/todo_list/ExampleUnitTest.kt
  Android/build.gradle
  Android/gradle.properties
  Android/gradle/wrapper/gradle-wrapper.jar
  Android/gradle/wrapper/gradle-wrapper.properties
  Android/gradlew
  Android/gradlew.bat
  Android/settings.gradle
Labels: feat, Android

#9 [BE] 프로젝트 생성
  BE/.gitignore
  BE/README.md
  BE/build.gradle
  BE/gradle/wrapper/gradle-wrapper.jar
  BE/gradle/wrapper/gradle-wrapper.properties
  BE/gradlew
  BE/gradlew.bat
  BE/settings.gradle
  BE/src/main/java/codesquad/be/todoserver/TodoserverApplication.java
  BE/src/main/resources/application.properties
  BE/src/test/java/codesquad/be/todoserver/TodoserverApplicationTests.java
Labels: feat, BE

#23 [BE] 테스트용 H2 DB 설정과 TODO 테이블 생성
  BE/src/main/resources/application.properties
  BE/src/main/resources/application.yml
  BE/src/main/resources/db/data.sql
  BE/src/main/resources/db/schema.sql
Labels: feat, BE

#24 [Android] 앱바, 네비게이션 드로어 구현
  Android/app/.gitignore
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/res/drawable-v24/ic_baseline_menu_24.xml
  Android/app/src/main/res/layout-sw720dp/activity_main.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/themes.xml
Labels: feat, Android

#26 [Android] Todo 및 History 스타일 설정
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/res/font/noto_sans.xml
  Android/app/src/main/res/font/noto_sans_bold.otf
  Android/app/src/main/res/font/noto_sans_regular.otf
  Android/app/src/main/res/values/styles.xml
  Android/app/src/main/res/values/themes.xml
Labels: feat, Android

#30 [BE] API Server - Todo를 특정 id로 조회 요청
  BE/.gitignore
  BE/build.gradle
  BE/src/main/java/codesquad/be/todoserver/TodoserverApplication.java
  BE/src/main/java/codesquad/be/todoserver/controller/TodoController.java
  BE/src/main/java/codesquad/be/todoserver/domain/Todo.java
  BE/src/main/java/codesquad/be/todoserver/exception/NoSuchTodoFoundException.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoRepository.java
  BE/src/main/java/codesquad/be/todoserver/service/TodoService.java
  BE/src/main/resources/application.yml
  BE/src/main/resources/db/data.sql
  BE/src/main/resources/db/schema.sql
  BE/src/test/java/codesquad/be/todoserver/TodosApiAcceptanceTest.java
  BE/src/test/java/codesquad/be/todoserver/TodoserverApplicationTests.java
  BE/src/test/java/codesquad/be/todoserver/controller/TodoControllerTest.java
  BE/src/test/java/codesquad/be/todoserver/repository/TodoRepositoryTest.java
  BE/src/test/java/codesquad/be/todoserver/service/TodoServiceTest.java
Labels: feat, BE

#31 [Android] 히스토리 기능 구현 - View
  Android/app/build.gradle
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/history/BindingAdapters.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryAdapter.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryReceive.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryCard.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryRepository.kt
  Android/app/src/main/res/drawable/ic_close.xml
  Android/app/src/main/res/drawable/user_img.png
  Android/app/src/main/res/layout-sw720dp/activity_main.xml
  Android/app/src/main/res/layout-sw720dp/history_item.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/history_item.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
Labels: feat, Android

#32 [Android] ViewModel 구현 및 Repository 생성
  Android/app/build.gradle
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/Repository.kt
  Android/app/src/main/java/com/example/todo_list/ViewModelFactory.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryAdapter.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryReceive.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryViewModel.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryRepository.kt
  Android/app/src/main/res/layout-sw720dp/activity_main.xml
  Android/app/src/main/res/layout/activity_main.xml
Labels: feat, Android

#33 [Android] 히스토리 기능 구현
  Android/app/build.gradle
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/Repository.kt
  Android/app/src/main/java/com/example/todo_list/ViewModelFactory.kt
  Android/app/src/main/java/com/example/todo_list/history/BindingAdapters.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryAdapter.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryReceive.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryViewModel.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryCard.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryRepository.kt
  Android/app/src/main/res/drawable/ic_close.xml
  Android/app/src/main/res/drawable/user_img.png
  Android/app/src/main/res/layout-sw720dp/activity_main.xml
  Android/app/src/main/res/layout-sw720dp/history_item.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/history_item.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
Labels: feat, Android

#37 [BE] API Server - 전체 Todo 조회 요청 기능 구현
  BE/src/main/java/codesquad/be/todoserver/controller/TodoController.java
  BE/src/main/java/codesquad/be/todoserver/domain/Todo.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoRepository.java
  BE/src/main/java/codesquad/be/todoserver/service/TodoService.java
  BE/src/test/java/codesquad/be/todoserver/controller/TodoControllerTest.java
  BE/src/test/java/codesquad/be/todoserver/repository/TodoRepositoryTest.java
  BE/src/test/java/codesquad/be/todoserver/service/TodoServiceTest.java
Labels: feat, refactor, BE

#38 [BE] API Server - 전체 History를 조회하도록 기능 구현
  BE/src/main/java/codesquad/be/todoserver/controller/HistoryController.java
  BE/src/main/java/codesquad/be/todoserver/domain/History.java
  BE/src/main/java/codesquad/be/todoserver/repository/HistoryJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/HistoryRepository.java
  BE/src/main/java/codesquad/be/todoserver/service/HistoryService.java
  BE/src/main/resources/application.yml
  BE/src/main/resources/db/data.sql
  BE/src/main/resources/db/schema.sql
  BE/src/test/java/codesquad/be/todoserver/HistoriesApiAcceptanceTest.java
Labels: feat, BE

#43 [Android] GET /api/histories 의 json 데이터 구조 변경
  Android/app/src/main/java/com/example/todo_list/history/BindingAdapters.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryCard.kt
  Android/app/src/main/res/layout-sw720dp/history_item.xml
Labels: feat, Android

#45 [Android] Network 관련 코드 분리 및 레포지토리 이름 변경
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/ViewModelFactory.kt
  Android/app/src/main/java/com/example/todo_list/data/Repository.kt
  Android/app/src/main/java/com/example/todo_list/data/TasksRepository.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryReceive.kt
  Android/app/src/main/java/com/example/todo_list/history/HistoryViewModel.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryRepository.kt
  Android/app/src/main/java/com/example/todo_list/network/NetworkModule.kt
  Android/app/src/main/java/com/example/todo_list/network/TodoService.kt
Labels: refactor, Android

#46 [Android] TO-DO Repository 구현
  Android/app/src/androidTest/java/com/example/todo_list/ExampleInstrumentedTest.kt
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/data/Repository.kt
  Android/app/src/main/java/com/example/todo_list/data/TasksRepository.kt
  Android/app/src/main/java/com/example/todo_list/history/data/HistoryCard.kt
  Android/app/src/main/java/com/example/todo_list/network/TodoService.kt
  Android/app/src/main/java/com/example/todo_list/tasks/data/Task.kt
  Android/app/src/test/java/com/example/todo_list/ExampleUnitTest.kt
  Android/app/src/test/java/com/example/todo_list/MockApiTest.kt
Labels: feat, Android

#52 [Android] Todo 화면 및 레포지토리 구현
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/tasks/ItemTouchHelperCallback.kt
  Android/app/src/main/java/com/example/todo_list/tasks/ItemTouchHelperListener.kt
  Android/app/src/main/java/com/example/todo_list/tasks/TaskAdapter.kt
  Android/app/src/main/java/com/example/todo_list/tasks/TaskBindingAdapters.kt
  Android/app/src/main/java/com/example/todo_list/tasks/TasksView.kt
  Android/app/src/main/res/drawable/ic_baseline_add_24.xml
  Android/app/src/main/res/drawable/todo_badge_bg.xml
  Android/app/src/main/res/layout-sw720dp/activity_main.xml
  Android/app/src/main/res/layout-sw720dp/tasks_view.xml
  Android/app/src/main/res/layout-sw720dp/todo_item.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/tasks_view.xml
  Android/app/src/main/res/layout/todo_item.xml
  Android/app/src/main/res/values/attrs.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
Labels: feat, Android

#53 [BE] API Server - Todo 생성 기능 요청
  BE/build.gradle
  BE/src/main/java/codesquad/be/todoserver/controller/TodoController.java
  BE/src/main/java/codesquad/be/todoserver/controller/TodoDtoMapper.java
  BE/src/main/java/codesquad/be/todoserver/controller/model/RegisterTodoDto.java
  BE/src/main/java/codesquad/be/todoserver/domain/History.java
  BE/src/main/java/codesquad/be/todoserver/domain/Todo.java
  BE/src/main/java/codesquad/be/todoserver/repository/HistoryJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/HistoryRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoRepository.java
  BE/src/main/java/codesquad/be/todoserver/service/TodoService.java
  BE/src/test/java/codesquad/be/todoserver/TodosApiAcceptanceTest.java
  BE/src/test/java/codesquad/be/todoserver/service/TodoServiceTest.java
Labels: feat, BE

#54 [Android] ViewModel을 하나로 통합
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/TasksViewModel.kt
  Android/app/src/main/java/com/example/todo_list/ViewModelFactory.kt
Labels: refactor, Android

#56 [Android] ServiceLocator 구현
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/ServiceLocator.kt
Labels: refactor, Android

#57 [BE] API Server - Todo 삭제 기능 구현
  BE/src/main/java/codesquad/be/todoserver/controller/TodoController.java
  BE/src/main/java/codesquad/be/todoserver/domain/Action.java
  BE/src/main/java/codesquad/be/todoserver/domain/History.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoJdbcRepository.java
  BE/src/main/java/codesquad/be/todoserver/repository/TodoRepository.java
  BE/src/main/java/codesquad/be/todoserver/service/TodoService.java
  BE/src/main/resources/db/schema.sql
  BE/src/test/java/codesquad/be/todoserver/controller/TodoControllerTest.java
  BE/src/test/java/codesquad/be/todoserver/repository/TodoRepositoryTest.java
  BE/src/test/java/codesquad/be/todoserver/service/TodoServiceTest.java
  BE/src/test/resources/testDB/schema.sql
Labels: feat, BE

#60 [Android] git 이슈
  Android/app/src/main/java/com/example/todo_list/MainActivity.kt
  Android/app/src/main/java/com/example/todo_list/tasks/ItemTouchHelperCallback.kt
  Android/app/src/main/java/com/example/todo_list/tasks/TaskAdapter.kt
  Android/app/src/main/java/com/example/todo_list/tasks/TasksView.kt
  Android/app/src/main/res/layout-sw720dp/todo_item.xml
Labels: fix, Android
